/* general style defs --------------------------------------------- */

html {
  font-family: sans-serif;
  line-height: 1.35;
}

h1,h2 {
  font-family: serif;
}

h1,h2,h3,h4 {
  color: #007000;
}

code {
  background-color: WhiteSmoke ;
}

p,ul,ol {
  margin-top: 1ex;
  margin-bottom: 1ex;
}
pre {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

p:first-letter {
  font-family: serif;
  font-size: 115%;
}

blockquote {
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: 3em;
  margin-right: 3em;
}

/* lists */

ul.bigli li {
  margin-top:  0.5ex;
  margin-bottom:  0.5ex;
}
ol.bigli li {
  margin-top:  0.5ex;
  margin-bottom:  0.5ex;
}

/* tables */

/* define table basics                                */
/* - table headers have a blueish bachground          */
/* - increase padding a bit to avoid to dense packing */
table { 
  border: 0px;
}

th { 
  background-color: #eaeaff;
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left:   5px;
  padding-right:  5px;
}
.th-bg-col {
  background-color: #eaeaff;
}

td {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   5px;
  padding-right:  5px;
}

/* toggle tr background, but only for decendants of tbody */
.trtoggle tbody>tr:nth-child(odd) {
  background: #fdfdfd;
}
.trtoggle tbody>tr:nth-child(even) {
  background: #ededed;
}

.ha-left {
  text-align: left;
}
.ha-center {
  text-align: center;
}
.ha-right {
  text-align: right;
}

.va-top {
  vertical-align: top;
}
.va-mid {
  vertical-align: middle;
}
.va-bot {
  vertical-align: bottom;
}

.indent {
  margin-left: 2em;
}

.nowrap {
  white-space: nowrap;
}

.tag {
  background-color: blue;
  color: white;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

/* re-define anchor basics     */
/* - no underline              */
/* - but stay with blue        */
a:link    {
  color:  #0000ff;
  text-decoration: none;
}
a:visited {
  color:  #0000c0; 
  text-decoration: none;
}
a:hover   {
  color:  #0000ff; 
  text-decoration: underline;
}
a:active  {
  color:  #ff0000;
}

.abutton {
  background: #eee;
  padding: 3px;
  border-style: ridge;
  border-width: 1px; 
  border-radius: 5px; 
  border-color: #333;
}

.abutton:hover {
  background-color: #ccddcc;
  text-decoration: none;
}

.dlbig dt {
  font-size: 150%;
  font-weight: bold;
  margin-top: 1em;
}
.dlbig dd {
  margin-top: 5px;
  margin-left: 25px;
}

.dlbig dl dt {
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.5em;
}

.dttime {
  padding-left: 0.5em;
  font-size: 80%;
  font-style: italic;
}

.code {
  background-color: WhiteSmoke;
  border: 1px solid LightGray;
  padding-left: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.2em;
}

/* hover anchor links --------------------------------------------- */

.hover-link {
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .hover-link,
h3:hover .hover-link,
h4:hover .hover-link,
h5:hover .hover-link,
h6:hover .hover-link, 
dt:hover .hover-link {
  opacity: 1;
}

/* wmb icon tool-tips --------------------------------------------- */

.wbm-icon {
  background: blue;
  color: white;
  margin-left: 0.2em;
  padding: 1px;
  position: relative;
}

.wbm-icon .wbm-icon-text {
  visibility: hidden;
  width: 9em;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 0.5ex;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -4.5em;
}

.wbm-icon:hover .wbm-icon-text {
  visibility: visible;
}

/* header style defs ---------------------------------------------- */

#header {
  background: #e0e0ff;
  margin-bottom: 2em;
}

#header-table {
  width: 100%;
  text-align: center;
}

#header-toplogo {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}
#header-toptitle {
  height: 60px;
  font-size: 200%;
  font-weight: bold;
  font-family: serif;
  text-shadow: 1.5px 1.5px 1.5px;
  vertical-align: middle;
}

#header-botpath {
  font-size: 83%;
  text-align: left;
  vertical-align: bottom;
}
#header-botnav {
  text-align: right;
  vertical-align: bottom;
}

/* main style defs ------------------------------------------------ */

#main {
  margin-left: 16em;
}

.marginwrapper {
  margin: 0.5em;
  margin-top: 0;
}

/* navbar style defs ---------------------------------------------- */

#navbar {
  float: left;
  width: 15em; 
  margin-bottom: 1em;
}

#navbar ul { 
  list-style: none;
  padding:0 0 0 0;
  margin:0;
  font-weight: normal;
  background: #ddeedd;
  border-top: 2px solid #777788;
  border-bottom: 2px solid #777788;
  border-left: 2px solid #777788;
  border-right: 2px solid #777788;
}

#navbar ul li { 
  display: block;
  text-decoration: none;
  color: black;
  padding:3px 3px 3px 5px;
}

#navbar ul li a { 
  display: block;
  text-decoration: none;
  color: black;
}

#navbar a:link, 
#navbar a:visited, 
#navbar a:active {
}

#navbar a:hover{
  background-color: #ccddcc;
}

#navbar .navlvl0 {
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid #777788;
}

#navbar .navlvl1 {
  font-size: 110%;
  font-weight: bold;
  padding-left: 10px;
  border-top: 1px solid #777788;
  border-bottom: 1px solid #777788;
}

#navbar .navlvl2 {
  font-weight: bold;
  padding-left: 15px;
  border-top: 1px solid #777788;
  border-bottom: 1px solid #777788;
}

#navbar .navlvl3 {
  padding-left: 20px;
}

#navbar .navlvl4 {
  font-size: 83%;
  padding-left: 25px;
}

#navbar .navselect {
  background-color: #ccddcc;
}

/* navbar style defs for posts -------------------------- */
#navbar td {
  padding:    0px;
}
#navbar td:nth-child(1) {
  padding-right:  5px;
  font-weight: bold;
}

/* figure style defs ---------------------------------------------- */

.figureframe {
  clear: right;
  float: right; 
  width: 260px; 
  margin-left: 1em;
  margin-bottom: 10px;
  background-color: #f0f0ff;
}

.figurebox {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.figurecaption {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 83%;
}

/* note style defs ------------------------------------------------ */

.notebox {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #ffffbf;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd500;
  border-left-width: 1ex;
}

/* ouxr style defs ------------------------------------------------ */
.ouxr-cboot {background-color:#ffc0ff;}       /* light magenta */
.ouxr-ckern {background-color:#ffe0e0;}       /* light red */
.ouxr-cnet  {background-color:#ffd700;}       /* gold */
.ouxr-clib  {background-color:#c0ffc0;}       /* light green */
.ouxr-cuser {background-color:#e0e0ff;}       /* light blue  */

.ouxr-sstr {color:Red;}
.ouxr-slit {color:Red;}
.ouxr-skey {color:Orange;}
.ouxr-styp {color:#00008B;}                 /* is a DarkBlue */
.ouxr-sdir {color:#008000;}                 /* is a DarkGreen */
.ouxr-snum {color:#A000A0;}                 /* is a DarkMagenta */
.ouxr-scom {
  color:#808080;                            /* is a Grey */
  font-style: italic;
}
.ouxr-sbad {background-color:Silver;}

.ouxr-flow dt {
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.ouxr-flow dd {
  margin-left: 2em;
}
.ouxr-flow dt a {
  padding-left: 1ex;
  padding-right: 1ex;
  padding-top: 0.3ex;
  padding-bottom: 0.3ex;
  border-radius: 1ex;
}

/* footer style defs ---------------------------------------------- */

#footer {
  clear: both;
  width: 100%;
  background: #dddddd;
}

#footer table {
  margin-top: 1em;
  width: 100%;
  background: #dddddd;
}

#footer-about {
  width: 35%;
  text-align: left;
  vertical-align: middle;
}

#footer-about-tools {
  font-size:70%; 
  padding-left:2em
}

#footer-time {
  width: 30%;
  text-align: center;
  vertical-align: bottom;
  font-style: italic;
}

#footer-nav {
  width: 35%;
  text-align: right;
  font-size: 150%;
  vertical-align: bottom;
}

#footer-disclaimer {
  text-align: center;
  font-size: 65%;
  vertical-align: bottom;
  background: #cccccc;
}

#footer-debug {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 6px solid #ffb166;
  border-left: 6px solid #ffb166;
  background-color: #ffecd9;
  font-size: 83%;
}
