/* $Id: CBMcdb_main.css 3833 2012-12-01 13:17:34Z mueller $ */
/*                                                                            */
/*  Revision History:                                                         */
/* Date        Version  Comment                                               */
/* 2012-11-11   1.0.5   change anchor defaults; rename td*->tr*, add trgray   */
/* 2012-10-28   1.0.4   add #header-unsudo                                    */
/* 2012-10-26   1.0.3   navbar with different background                      */
/* 2012-10-22   1.0.2   new navbar behaviour (no underline, but hover color)  */
/* 2012-10-21   1.0.1   more contrast between table lines: tdodd f0->ed       */
/* 2012-08-17   1.0     Initial version                                       */
/*                                                                            */
/* general style defs */
/* tables */

/* define table basics                                */
/* - table headers have a blueish bachground          */
/* - increase padding a bit to avoid to dense packing */
th { 
  background-color: #eaeaff;
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left:   5px;
  padding-right:  5px;
}

td {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   5px;
  padding-right:  5px;
}

tfoot td {
  background-color: #f4f4ff;
  padding-top:    5px;
  padding-bottom: 5px;
}

/* re-define anchor basics     */
/* - no underline              */
/* - but stay with blue        */
a:link    {
  color:  #0000ff;
  text-decoration: none;
}
a:visited {
  color:  #0000c0; 
  text-decoration: none;
}
a:hover   {
  color:  #0000ff; 
  text-decoration: underline;
}
a:active  {
  color:  #ff0000;
}


#header {
/*  background: #eeeeee; */
  text-align: center;
}

#header table {
  background: #e0e0ff;
  width: 100%;
}

#header-title { 
  font-size: 35px;
  font-weight: bold;
}

#header-logstate { 
  font-size: 12px;
  padding-right:  15px;
}
#header-login { 
  background: #ff8080;
  font-size: 12px;
  font-weight: bold;
  padding-left:   5px;
  padding-right:  5px;
}
#header-logout { 
  background: #00ff00;
  font-size: 12px;
  font-weight: bold;
  padding-left:   5px;
  padding-right:  5px;
}
#header-unsudo { 
  background: #ffbb00;
  font-size: 12px;
  font-weight: bold;
  padding-left:   5px;
  padding-right:  5px;
}


#mainwrapper {
  float: left;
  width: 100%;
}

#main {
  margin-left: 200px;
  font-size: 14px;
/*  background: #eeeeff; */
}

#navbar {
  float: left;
  width: 200px; 
  margin-left: -100%;
  padding-top: 14px;
  font-size: 14px;
}

#navbar ul { 
  list-style: none;
  padding:0 0 0 0;
  margin:0;
  font-weight: bold;
  border-top:    1px solid #777788;
  border-bottom: 1px solid #777788;
  border-left:   2px solid #777788;
  border-right:  2px solid #777788;
  background: #ddeedd;
}

#navbar ul ul { 
  font-weight: normal;
  border-top:    0;
  border-bottom: 0;
  border-left:   0;
  border-right:  0;
}

#navbar ul a{ 
  display: block;
  overflow: auto; /*force hasLayout in IE7 */
  text-decoration: none;
  border-top:    1px solid #777788;
  border-bottom: 1px solid #777788;
  color: black;
  padding:3px 3px 3px 5px;
}

#navbar a:link, 
#navbar a:visited, 
#navbar a:active{
}

#navbar a:hover{
  background-color: #ccddcc;
}

#navbar ul ul a { 
  padding:2px 2px 2px 20px;
}

#footer {
  clear: left;
  width: 100%;
  background: #dddddd;
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
}

.marginwrapper {
  margin: 10px;
  margin-top: 0;
}

.trodd { 
  background: #ededed;
}
.treven { 
  background: #fdfdfd;
}
.trgray { 
  color: #a0a0a0;
  font-style:italic;
}
.trgray a { 
  color: #a0a0ff;
}
.trgray a:hover { 
  color: #0000ff;
}

.editbutton {
  background: #c0ffc0;
  font-weight: bold;
  padding-left:   5px;
  padding-right:  5px;
}
