/* general style defs --------------------------------------------- */

html {
  font-family: sans-serif;
  line-height: 1.35;
}

h1,h2 {
  font-family: serif;
}

h1,h2,h3,h4 {
  color: #007000;
}

code {
  background-color: WhiteSmoke ;
}

/* tables */

/* define table basics                                */
/* - table headers have a blueish bachground          */
/* - increase padding a bit to avoid to dense packing */
table { 
 border: 5px black;
}

th { 
  background-color: #eaeaff;
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left:   5px;
  padding-right:  5px;
}

td {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   5px;
  padding-right:  5px;
}

/* toggle tr background, but only for decendants of tbody */
.trtoggle tbody>tr:nth-child(odd) {
  background: #fdfdfd;
}
.trtoggle tbody>tr:nth-child(even) {
  background: #ededed;
}

.ha-left {
  text-align: left;
}
.ha-center {
  text-align: center;
}
.ha-right {
  text-align: right;
}

.va-top {
  vertical-align: top;
}
.va-mid {
  vertical-align: middle;
}
.va-bot {
  vertical-align: bottom;
}

.nowrap {
  white-space: nowrap;
}

/* re-define anchor basics     */
/* - no underline              */
/* - but stay with blue        */
a:link    {
  color:  #0000ff;
  text-decoration: none;
}
a:visited {
  color:  #0000c0; 
  text-decoration: none;
}
a:hover   {
  color:  #0000ff; 
  text-decoration: underline;
}
a:active  {
  color:  #ff0000;
}

.abutton {
  background: #eee;
  padding: 3px;
  border-style: ridge;
  border-width: 1px; 
  border-radius: 5px; 
  border-color: #333;
}

.abutton:hover {
  background-color: #ccddcc;
  text-decoration: none;
}

.dlbig dt {
  font-size: 150%;
  font-weight: bold;
  margin-top: 1em;
}
.dlbig dd {
  margin-top: 5px;
  margin-left: 25px;
}

.dlbig dl dt {
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.5em;
}

.dttime {
  padding-left: 0.5em;
  font-size: 80%;
  font-style: italic;
}

/* hover anchor links --------------------------------------------- */

.hover-link {
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .hover-link,
h3:hover .hover-link,
h4:hover .hover-link,
h5:hover .hover-link,
h6:hover .hover-link, 
dt:hover .hover-link {
  opacity: 1;
}

/* wmb icon tool-tips --------------------------------------------- */

.wbm-icon {
  background: blue;
  color: white;
  margin-left: 0.2em;
  padding: 1px;
  position: relative;
}

.wbm-icon .wbm-icon-text {
  visibility: hidden;
  width: 9em;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 0.5ex;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -4.5em;
}

.wbm-icon:hover .wbm-icon-text {
  visibility: visible;
}

/* header style defs ---------------------------------------------- */

#header {
  width: 100%;
  text-align: center;
  background: #e0e0ff;
}

#header-toplogo {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}
#header-toptitle {
  height: 60px;
  font-size: 200%;
  font-weight: bold;
  font-family: serif;
  text-shadow: 1.5px 1.5px 1.5px;
  vertical-align: middle;
}

#header-botpath {
  font-size: 80%;
  text-align: left;
  vertical-align: bottom;
}
#header-botnav {
  text-align: right;
  vertical-align: bottom;
}

#mainwrapper {
  float: left;
  width: 100%;
}

#main {
  margin-left: 200px;
  font-size: 14px;
/*  background: #eeeeff; */
}

.marginwrapper {
  margin: 10px;
  margin-top: 0;
}

/* navbar style defs ---------------------------------------------- */

#navbar {
  float: left;
  width: 200px; 
  margin-left: -100%;
  padding-top: 14px;
  font-size: 14px;
}

#navbar ul { 
  list-style: none;
  padding:0 0 0 0;
  margin:0;
  font-weight: normal;
  background: #ddeedd;
  border-top: 2px solid #777788;
  border-bottom: 2px solid #777788;
  border-left: 2px solid #777788;
  border-right: 2px solid #777788;
}

#navbar ul li { 
  display: block;
  text-decoration: none;
  color: black;
  padding:3px 3px 3px 5px;
}

#navbar ul li a { 
  display: block;
  text-decoration: none;
  color: black;
}

#navbar a:link, 
#navbar a:visited, 
#navbar a:active {
}

#navbar a:hover{
  background-color: #ccddcc;
}

#navbar .navlvl0 {
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid #777788;
}

#navbar .navlvl1 {
  font-size: 110%;
  font-weight: bold;
  padding-left: 10px;
  border-top: 1px solid #777788;
  border-bottom: 1px solid #777788;
}

#navbar .navlvl2 {
  font-weight: bold;
  padding-left: 15px;
  border-top: 1px solid #777788;
  border-bottom: 1px solid #777788;
}

#navbar .navlvl3 {
  padding-left: 20px;
}

#navbar .navlvl4 {
  font-size: 80%;
  padding-left: 25px;
}

#navbar .navselect {
  background-color: #ccddcc;
}

/* figure style defs ---------------------------------------------- */

.figureframe {
  clear: right;
  float:right; 
  width:260px; 
  margin:10px;
  background-color: #f0f0ff;
}
.figureframe-wide {
  float:right; 
  width:280px; 
  padding:0px;
  margin:10px;
  background-color: #f0f0ff;
}

.figurebox {
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
}
.figurecaption {
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 83%;
}

/* footer style defs ---------------------------------------------- */

#footer {
  clear: both;
  width: 100%;
  background: #dddddd;
}

#footer table {
  width: 100%;
  background: #dddddd;
}

#footer-about {
  width: 35%;
  text-align: left;
  vertical-align: middle;
}

#footer-about-tools {
  font-size:70%; 
  padding-left:2em
}

#footer-time {
  width: 30%;
  text-align: center;
  vertical-align: bottom;
}

#footer-nav {
  width: 35%;
  text-align: right;
  font-size: 150%;
  vertical-align: bottom;
}

#footer-debug {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 6px solid #ffb166;
  border-left: 6px solid #ffb166;
  background-color: #ffecd9;
  font-size: 80%;
}
