---
title:  "Used FPGA Boards"
#
my:
  changedate: 2016-10-29
  style: |
    dl {
      margin-left: 20px;
    }
    dt {
      font-size: 120%;
      font-weight: bold;
      color: #007000;
    }
    dd {
      margin-left: 20px;
    }
    dd table {
      padding-top:    5px;
      padding-bottom: 5px;
    }
    dd table td {
      padding-top:    0px;
      padding-bottom: 0px;
      vertical-align: top;
    }
    dd table td ul {
      padding-left:   0px;
      list-style:     none;
    }
    dd table td ul li {
      padding-top:    0px;
      padding-bottom: 0px;
      vertical-align: top;
    }
---

<h2 id="h_summary">Board Summary</h2>
<table class="trtoggle">
  <tr>
    <th colspan="2">Board</th>
    <th colspan="2">FPGA</th>
    <th>w11</th>
  </tr>
  <tr>
    <th>Vendor</th>
    <th>Type</th>
    <th>Family</th>
    <th>Type</th>
    <th></th>
  </tr>
  <tr>
    <td>Digilent</td>
    <td><a href="#digi_arty">Arty</a></td>
    <td>Artix-7</td>
    <td>xc7a35t-csg324</td>
    <td>yes (BRAM)</td>
  </tr>
  <tr>
    <td>Digilent</td>
    <td><a href="#digi_basys3">Basys 3</a></td>
    <td>Artix-7</td>
    <td>xc7a35t-cpg236</td>
    <td>yes (BRAM)</td>
  </tr>
  <tr>
    <td>Digilent</td>
    <td><a href="#digi_nexys4">Nexys 4</a></td>
    <td>Artix-7</td>
    <td>xc7a100t-cdg324</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>Digilent</td>
    <td><a href="#digi_nexys3">Nexys 3</a></td>
    <td>Spartan-6</td>
    <td>xc6lx16-cs324</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>Digilent</td>
    <td><a href="#digi_nexys2">Nexys 2</a></td>
    <td>Spartan-3</td>
    <td>xc3s500e-fg320</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>Digilent</td>
    <td><a href="#digi_s3board">S3BOARD</a></td>
    <td>Spartan-3</td>
    <td>xc3s1000-ft256</td>
    <td>yes</td>
  </tr>
</table>

<h2 id="h_details">Board Details</h2>

<dl>


  <!-- digi_arty -->
  <dt id="digi_arty">Digilent Arty</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>in production (as of Nov 2016)</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td><a href="https://reference.digilentinc.com/reference/programmable-logic/arty/start?redirect=1">
            Arty product page
        </a></td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li><a href="https://reference.digilentinc.com/reference/programmable-logic/arty/reference-manual">
                Arty reference manual
            </a></li>
            <li><a href="https://reference.digilentinc.com/_media/reference/programmable-logic/arty/arty_sch.pdf">
                Arty schematics
            </a></li>
        </ul></td>
      </tr>
    </table>
  </dd>

  <!-- digi_basys3 -->
  <dt id="digi_basys3">Digilent Basys 3</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>in production (as of Nov 2016)</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td><a href="https://reference.digilentinc.com/reference/programmable-logic/basys-3/start">
            Basys 3 product page
        </a></td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li><a href="https://reference.digilentinc.com/reference/programmable-logic/basys-3/reference-manual">
                Basys 3 reference manual
            </a></li>
            <li><a href="https://reference.digilentinc.com/_media/reference/programmable-logic/basys-3/basys-3_sch.pdf">
                Basys 3 schematics
            </a></li>
        </ul></td>
      </tr>
    </table>
  </dd>

  <!-- digi_nexys4 -->
  <dt id="digi_nexys4">Digilent Nexys 4</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>discontinued, available as long stock lasts (Nov 2016)</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td><a href="https://reference.digilentinc.com/reference/programmable-logic/nexys-4/start">
            Nexys 4 product page
        </a></td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li><a href="https://reference.digilentinc.com/reference/programmable-logic/nexys-4/reference-manual">
                Nexys 4 reference manual
            </a></li>
            <li><a href="https://reference.digilentinc.com/_media/reference/programmable-logic/nexys-4/nexys4_sch.pdf">
                Nexys 4 schematics
            </a></li>
        </ul></td>
      </tr>
    </table>
  </dd>

  <!-- digi_atlys -->
  <dt id="digi_atlys">Digilent Atlys</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>discontinued, available as long stock lasts (Nov 2016)</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td><ul>
            <li> {% include wbm-link.html 
         date="20150214020910"
         link="http://www.digilentinc.com/Products/Detail.cfm?NavPath=2,400,836&Prod=ATLYS"
         text="Atlys™ Spartan-6 FPGA Development Board" %} (old) </li>
            <li>
              <a href="https://reference.digilentinc.com/reference/programmable-logic/atlys/start">
              Atlys product page </a> (new) </li>
        </ul></td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li>{% include wbm-link.html 
          date="20150214020910"
          link="http://www.digilentinc.com/Data/Products/ATLYS/Atlys_rm_V2.pdf"
          text="Atlys reference manual" %}</li>
            <li>{% include wbm-link.html 
          date="20150214020910"
          link="/http://www.digilentinc.com/Data/Products/ATLYS/Atlys_C2_sch.pdf"
          text="Atlys schematics" %}</li>
        </ul></td>
      </tr>
    </table>
  </dd>

  <!-- digi_nexys3 -->
  <dt id="digi_nexys3">Digilent Nexys 3</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>discontinued, available as long stock lasts (Nov 2016)</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td><ul>
            <li> {% include wbm-link.html 
         date="20150223022309"
         link="http://www.digilentinc.com/Products/Detail.cfm?Prod=NEXYS3"
         text="Nexys™3 Spartan-6 FPGA Board product page" %} (old) </li>
            <li>
              <a href="https://reference.digilentinc.com/reference/programmable-logic/nexys-3/start">
                Nexys 3 product page</a> (new) </li>
        </ul></td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li>{% include wbm-link.html 
          date="20150223022309"
          link="http://www.digilentinc.com/Data/Products/NEXYS3/Nexys3_rm_V2.pdf"
          text="Nexys 3 reference manual" %}</li>
            <li>{% include wbm-link.html 
          date="20150223022309"
          link="http://www.digilentinc.com/Data/Products/NEXYS3/NEXYS3_sch.pdf"
          text="Nexys 3 schematics" %}</li>
        </ul></td>
      </tr>
    </table>
  </dd>

  <!-- digi_nexys2 -->
  <dt id="digi_nexys2">Digilent Nexys 2</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>discontinued</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td><ul>
            <li> {% include wbm-link.html 
         date="20141215195849"
         link="http://www.digilentinc.com/Products/Detail.cfm?Prod=NEXYS2"
         text="Nexys™2 Spartan-3E FPGA Board product page" %} (old) </li>
            <li>
              <a href="https://reference.digilentinc.com/reference/programmable-logic/nexys-2/start">
                Nexys 2 product page</a> (new)  </li>
        </ul></td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li>{% include wbm-link.html 
          date="20141215195849"
          link="http://www.digilentinc.com/Data/Products/NEXYS2/Nexys2_rm.pdf"
          text="Nexys 2 reference manual" %}</li>
            <li>{% include wbm-link.html 
          date="20141215195849"
          link="http://www.digilentinc.com/Data/Products/NEXYS2/Nexys2_sch.pdf"
          text="Nexys 2 schematic diagrams" %}</li>
        </ul></td>
      </tr>
    </table>
  </dd>

  <!-- digi_s3board -->
  <dt id="digi_s3board">Digilent S3BOARD</dt>
  <dd>
    <table>
      <tr>
        <td>Status:</td>
        <td>discontinued</td>
      </tr>
      <tr>
        <td>Vendor page:</td>
        <td>{% include wbm-link.html 
         date="20121121104707"
         link="http://www.digilentinc.com/Products/Detail.cfm?Prod=S3BOARD"
         text="Spartan-3 Board product page" %} </td>
      </tr>
      <tr>
        <td>Resources:</td>
        <td><ul>
            <li>{% include wbm-link.html 
          date="20121121104707"
          link="http://www.digilentinc.com/Data/Products/S3BOARD/S3BOARD_RM.pdf"
          text="Spartan-3 Starter Kit Board User Guide" %}</li>
            <li>{% include wbm-link.html 
          date="20121121104707"
          link="http://www.digilentinc.com/Data/Products/S3BOARD/S3BOARD-sch.pdf"
          text="Spartan-3 Starter Kit Board Schematics" %}</li>
        </ul></td>
      </tr>
    </table>
  </dd>
</dl>
