---
title:  "System Images"
#
my:
  changedate: 2016-10-29
#
  oskit_url:  http://www.retro11.de/data/oc_w11/oskits
  oskit_blob: https://github.com/wfjm/w11/blob/master/tools/oskit
  oskits:

# Unix V5 rkset
  - system: Unix V5
    vol: RK05
    typ: rkset
    tar: unix_v5_rkset.tgz
    desc: unix-v5_rk/README_unix_v5_rkset.txt
    licw: Caldera
    lics: Caldera
    com:

# 2.11BSD rkset
  - system: 2.11BSD
    vol: RK05
    typ: rkset 
    tar: 211bsd_rkset.tgz
    desc: 211bsd_rk/README_211bsd_rkset.txt
    licw: BSD
    lics: BSD
    com:

# 2.11BSD rlset
  - system: 2.11BSD
    vol: RL02
    typ: rlset 
    tar: 211bsd_rlset.tgz
    desc: 211bsd_rl/README_211bsd_rlset.txt
    licw: BSD
    lics: BSD
    com:

# 2.11BSD rpset
  - system: 2.11BSD
    vol: RP06
    typ: rpset 
    tar: 211bsd_rpset.tgz
    desc: 211bsd_rp/README_211bsd_rpset.txt
    licw: BSD
    lics: BSD
    com:

# 2.11BSD tmset
  - system: 2.11BSD
    vol: TM11
    typ: tmset 
    tar: 211bsd_tmset.tgz
    desc: 211bsd_tm/README_211bsd_tmset.txt
    licw: BSD
    lics: BSD
    com: bootable tape for installation on a RP06 disk

# RT11 V4.0 rkset
  - system: RT11 V4.0
    vol: RK05
    typ: rkset 
    tar: rt11-40_rkset.tgz
    desc: rt11-40_rk/README_rt11-40_rkset.txt
    licw: NONE
    lics: Mentec
    com:

# RT11 V5.3 rlset
  - system: RT11 V5.3
    vol: RL02
    typ: rlset 
    tar: rt11-53_rlset.tgz
    desc: rt11-53_rl/README_rt11-53_rlset.txt
    licw: NONE
    lics: Mentec
    com:

# RSX-11M V3.1 rkset
  - system: RSX-11M V3.1
    vol: RK05
    typ: rkset 
    tar: rsx11m-31_rkset.tgz
    desc: rsx11m-31_rk/README_rsx11m-31_rkset.txt
    licw: NONE
    lics: Mentec
    com:

# RSX-11M+ V3.0 rpset
  - system: RSX-11M+ V3.0
    vol: RP06
    typ: rpset 
    tar: rsx11mp-30_rpset.tgz
    desc: rsx11mp-30_rp/README_rsx11mp-30_rpset.txt
    licw: NONE
    lics: Mentec
    com:

---

{% capture caption_Fig_S_1 %}
    Fig S-1: Screen shot of 2.11BSD boot sequence and some commands on a w11a_s3 
    system. The output of the two DL11 is directed in the DL0/DL1 windows. 
    In the bottom right corner is a window with messages of the backend server
    process visible. See also
    <a href="/downloads/w11/pictures/wfjm-2010-08-08-screenshot.jpg">
      hi-res jpg</a>.
{% endcapture %}
{% include figbox-right.html id="Fig_S-1" width="256" height="192"
     figurl="/downloads/w11/pictures/wfjm-2010-08-08-screenshot.jpg"
     caption=caption_Fig_S_1
%}

<h2 id="h_systems">Running Systems</h2>

The most stringent test so far is that the following operating systems are known to boot:
<ul>
  <li><b>UNIX 5th edition</b>. Released in June 1974 this very early UNIX uses
        only a fraction of the hardware capabilities, and also works happily 
        on a CPU with out FPP. This system fits on a single RK05 volume
        (<a href="http://www.retro11.de/data/oc_w11/oskits/unix_v5_rkset.tgz">
          download disk image</a>; under Caldera license).</li>
  <li><b>2.11 BSD UNIX</b>. Released in 1992, this end-point of historical UNIX
        development on PDP-11's uses almost all features (22 bit addressing,
        separate I/D space, 3 processor modes) to squeeze a full UNIX with 
        most of the 4.3 BSD features into a 16 bit machine. A system with the 
        latest patches is needed to get the 
        {% include wbm-link.html 
           date="20141018182505"
           link="http://www.classiccmp.org/pipermail/cctech/2007-January/032518.html"
           text="kernel FPP emulation (patch 445)" %}
        and 
        {% include wbm-link.html 
           date="20141018182505"
           link="http://www.classiccmp.org/pipermail/cctech/2009-January/062011.html"
           text="RK05 as boot device (patch 446/447)" %}
        to work.
        The current w11a system has only RK11 or RL02 disks, so a very limited 
        subset
        of the full 2.11BSD distribution was packed onto 5 RK05 disk volumes
        or a single RL02 disk volume. Both disk sets are available for
        download, see below under <a href="#h_os_kits">OS Kits</a>.
        See <a href="#Fig_S-1">Figure S-1</a> for a
        screen shot of a 2.11BSD boot sequence on a w11a system.
    </li>
</ul>

See 
<a href="{{site.my.w11.blob}}/doc/w11a_os_guide.txt">w11a_os_guide.txt</a>
for description of the FPGA board and backend server setup as well as the
boot procedure of these UNIX systems.

<h2 id="h_lic_unix">License Situation Unix</h2>

<a href="https://en.wikipedia.org/wiki/Ancient_UNIX">Ancient UNIX</a> 
systems for the PDP-11 can now be freely used, see 
<a href="http://minnie.tuhs.org/Archive/Caldera-license.pdf">
Caldera license</a>. 

<h2 id="h_lic_dec">License Situation DEC Operating systems</h2>

Unfortunately there is no hobbyist or non-commercial license available for 
historical DEC PDP-11 operating systems like 
<b><a href="https://en.wikipedia.org/wiki/RSX-11">RSX-11M</a> V3.2</b>, 
owned since 1994 by Mentec Inc. (see 
<a href="https://groups.google.com/forum/#!topic/biz.digital.announce/mnNlxqdYTwo">
DEC press release dated 7/1/94</a>).
The 
{% include wbm-link.html 
   date="20140710034347"
   link="http://www.eecis.udel.edu/~mader/delta/download/license.txt"
   text="Mentec license" %}
is commonly understood to cover the some older versions 
of DEC operating systems on software simulators, most notably on the 
'simh' suite. The Mentec license does not cover the usage of these historic 
systems on any 'real hardware' implementation of a PDP-11.
<b>Usage on the w11 is not covered by the Mentec license</b>. 
If somebody happens to have a valid license, please try and 
<a href="mailto:{{site.email}}">send a note to the author</a>. 

<h2 id="h_os_kits">Available OS Kits</h2>
A number of ready to use operating system images are provided for usage
on w11a or on simh in a configuration equivalent to a w11a.

<br>
<table class="trtoggle">
  <thead>
    <tr>
      <th class="va-top ha-center"><b>System</b></th>
      <th class="va-top ha-center"><b>Disk</b></th>
      <th class="va-top ha-center"><b>Tarball</b></th>
      <th class="va-top ha-center"><b>Decription</b></th>
      <th class="ha-center" colspan="2"><b>License</b></th>
      <th class="va-top ha-left"><b>Comment</b></th>
    </tr>
    <tr>
      <th class="ha-center"></th>
      <th class="ha-center"><b>Type</b></th>
      <th class="ha-center"></th>
      <th class="ha-center"></th>
      <th class="ha-center"><b>w11</b></th>
      <th class="ha-center"><b>simh</b></th>
      <th class="ha-left"></th>
    </tr>
  </thead>
  <tbody>
    {% for osk in page.my.oskits %}
      {% if osk.licw == "NONE" %}
        {% assign licw_style = "font-weight:bold; background-color:mistyrose;" %}
      {% else %}
        {% assign licw_style = "" %}
      {% endif %}
    <tr>
      <td class="ha-left nowrap"><b>{{osk.system}}</b></td>
      <td class="ha-center">{{osk.vol}}</td>
      <td class="ha-center">
        <a href="{{page.my.oskit_url}}/{{osk.tar}}">{{osk.typ}}</a></td>
      <td class="ha-center">
        <a href="{{page.my.oskit_blob}}/{{osk.desc}}">README</a></td>
      <td class="ha-center">
        <span style="{{licw_style}}">{{osk.licw}}</span></td>
      <td class="ha-center">{{osk.lics}}</td>
      <td class="ha-left">{{osk.com}}</td>
    </tr>
    {% endfor %}
    <tbody>
</table>

<!--
A <b>RSX-11M V3.2</b> system, 
<a href="http://www.bitsavers.org/pdf/dec/pdp11/rsx11/RSX11M_V3.2_Jun79/2_Operation/AA-H625A-TC_RSX-11M_V3.2_System_Generation_Jun79.pdf">sysgen'ed</a> 
for a 11/70 CPU with 1920 kwords, no FP-11, a 50 Hz clock, full duplex 
terminal driver, and a DK: system disk should work, a 
<a href="http://web.archive.org/web/20080721190915/http://www.computer.museum.uq.edu.au/RSX/AA-1936F-TC%20IAS,%20RSX,%20VAX-VMS%20FORTRAN%20IV%20User%27s%20Guide.tif">
Fortran-IV V2.2</a> build with
foreis.obj should even provide 
<a href="http://www.bitsavers.org/pdf/dec/pdp11/fortran/AA-R953A-TK_F4LangRef_Mar83.pdf">Fortran</a> 
on this system without FPP. 
-->
