---
title:  "Old Unix XRef"
#
my:
  changedate: 2016-12-04
#
  langtable:
  - ext: ".c .h"
    lan: C
    exa: /usr/src/bin/ed.c
  - ext: ".c"
    lan: C (Bourne style)
    exa: /usr/src/bin/sh/service.c
  - ext: ".s"
    lan: assembler (UNIX style)
    exa: /usr/src/sys/pdp/mch_trap.s
  - ext: ".m11"
    lan: assembler (DEC style)
    exa: /usr/src/new/m11/mac.m11
  - ext: ".y"
    lan: yacc
    exa: /usr/src/bin/expr.y
  - ext: ".f .F"
    lan: Fortran
    exa: /usr/src/new/PORT/dungeon/objcts.F
  - ext: ".p"
    lan: Pascal
    exa: /usr/src/ucb/PORT/pascal/pdx/test/parall.p
  - ext: ".0"
    lan: man pages
    exa: /usr/man/cat1/awk.0
#
  syncoltable:
  - type: string literal
    class: ouxr-sstr
    exam: '"some string"'
  - type: character literal
    class: ouxr-slit
    exam: "'a'"
  - type: number literal
    class: ouxr-snum
    exam: "0x123"
  - type: keyword
    class: ouxr-skey
    exam: "if then else"
  - type: type
    class: ouxr-styp
    exam: "int char float"
  - type: directive
    class: ouxr-sdir
    exam: ".data .globl"
  - type: comment
    class: ouxr-scom
    exam: "/* this is a comment */"
#
  objtable:
  - type: "source code line"
    url:  "#n:<number>"
    exam:  /usr/src/sys/sys/sys_generic.c.html#n:126
    comm: "source line 126"
  - type: "symbol definition"
    url:  "#s:<name>"
    exam:  /usr/src/sys/sys/sys_generic.c.html#s:_ioctl
    comm: "definition <code>ioctl()</code>"
  - type: "struct definition"
    url:  "#sd:<name>"
    exam:  /usr/src/sys/h/file.h.html#sd:fileops
    comm: "definition <code>struct fileops</code>"
  - type: "macro definition"
    url:  "#m:<name>"
    exam:  /usr/src/sys/h/dir.h.html#m:MAXNAMLEN
    comm: "#define MAXNAMLEN"
#
  xreftable:
  - type: "symbol"
    url:  "#xref:s:<name>"
    exam:  /usr/src/lib/libc/gen/readdir.c.html#xref:s:_readdir
    comm: "where is <code>readdir()</code> used"
  - type: "struct"
    url:  "#xref:sd:<name>"
    exam:  /usr/src/sys/h/mbuf.h.html#xref:sd:mbuf
    comm: "where is <code>struct mbuf</code> used"
  - type: "macro"
    url:  "#xref:m:<name>"
    exam:  /usr/src/sys/h/dir.h.html#xref:m:MAXNAMLEN
    comm: "where is <code>MAXNAMLEN</code> used"
  - type: "include"
    url:  "#xref:i:<name>"
    exam:  /usr/src/sys/h/dir.h.html#xref:i:dir.h
    comm: "where is <code>dir.h</code> used"
#
  coltable:
  - class: ouxr-cboot
    text:  boot/standalone
    code:  /usr/src/sys/pdpstand/boot.c
  - class: ouxr-ckern
    text:  kernel
    code:  /usr/src/sys/sys/sys_generic.c
  - class: ouxr-cnet
    text:  network
    code:  /usr/src/sys/netinet/ip_icmp.c
  - class: ouxr-clib
    text:  libraries
    code:  /usr/src/lib/libc/gen/readdir.c
  - class: ouxr-cuser
    text:  user level
    code:  /usr/src/bin/cp.c
#
---
{% assign url_211bsd = site.my.ouxr.url_211bsd %}

<h2 id="h_overview">Overview</h2>

<p>
The bring-up of UNIX 2.11BSD on the <a href="/home/w11/">w11</a> system
required a lot of very detailed studies of the source code. That called
quickly for a hyper-linked and cross referenced rendition of the sources,
much like <a href="http://www.doxygen.org/">doxygen</a> or
<a href="http://lxr.free-electrons.com/">lxr</a> does it.
The desired features were:
</p>
<ul>
  <li>cover boot, kernel, networking, library and user level code</li>
  <li>cover C, assembler and other relevant languages with syntax
    highlighting</li>
  <li>provide 'what is used where' information, over the whole system</li>
  <li>provide hyperlinks for a fast code path analysis, especially
    across the user,library,kernel interfaces</li>
  <li>support to follow the execution logic of a system call starting from
    user code, through the library layer, through the kernel interface, to
    the kernel code by just following hyperlinks</li>
</ul>
<p>
Since none of the existing tools seemed to match that profile a new tool
was written. The task is strongly simplified by the facts that the code
base is quasi static and that the size of the code base is small by today's
standards, which allows to hold the meta date od the full code base in
memory for analysis.
The tool takes the whole file system and creates at set of static html files
which show all sources with proper hyperlinks.
Even though the original motivation was to understand the 2.11BSD system,
the tool was design such that all UNIX systems with similar structure can be
processed. So far the 2.11BSD configuration is certainly the most advanced,
that's why in the following all examples refer to the
<a href="{{url_211bsd}}/">2.11BSD code base</a>.
</p>

<h2 id="h_example">Brief Example</h2>
<p>
It's very easy to follow the execution flow, even across user-kernel boundary.
A simple example starts in the code of the
{% include ouxr-211bsd-man.html n="telnet" s="1" %}
command
</p>
<dl class="ouxr-flow indent">
  {% include ouxr-211bsd-flow-dt.html
     col="ouxr-cuser"  path="/usr/src/ucb/telnet.c.html" %}
  <dd>It opens the required socket for communication with a call of
      {% include ouxr-211bsd-man.html n="socket" s="2" %}
      in line 2079
  </dd>

  {% include ouxr-211bsd-flow-dt.html
     col="ouxr-cuser"  path="/usr/src/ucb/telnet.c.html#n:2079" %}

  <dd>A click on <code>socket()</code> leads to
  </dd>

  {% include ouxr-211bsd-flow-dt.html
     col="ouxr-clib"  path="/usr/src/lib/libc/pdp/sys/__socket.s.html#s:_socket" %}
  <dd>which is an assembler stub in <code>libc</code> which implements the
    user land side of the 
    {% include ouxr-211bsd-man.html n="socket" s="2" %}
    system call.
    The comments summarize the control flow via <code>trap</code> instruction,
    {% include ouxr-211bsd-csym.html
       p="/usr/src/sys/pdp/trap.c" s="syscall" d="()" %}
    handler,
    {% include ouxr-211bsd-csym.html
       p="/usr/src/sys/sys/init_sysent.c" s="sysent" d="[]" %}
    dispatcher, to
    the <code>socket</code> kernel function. A click on <code>socket</code>
    leads to the kernel handler
  </dd>

  {% include ouxr-211bsd-flow-dt.html
     col="ouxr-ckern"  path="/usr/src/sys/sys/uipc_syscalls.c.html#s:_socket" %}
  <dd>
    this routine another interface layer needed to reach the networking code
    which resides in supervisor space and is executed in supervisor mode.
    This switch is done by <code>SOCREATE</code>, a click on it leads
    to
  </dd>

  {% include ouxr-211bsd-flow-dt.html
     col="ouxr-cnet"  path="/usr/src/sys/pdp/net_mac.h.html#m:SOCREATE" %}
  <dd>
    and shows that it is a macro, which uses
    {% include ouxr-211bsd-csym.html
       p="/usr/src/sys/pdp/mch_KScall.s" s="KScall" d="()" %}
    to switch from kernel to supervisor mode and call <code>socreate</code>.
    A click on <code>socreate</code> finally leads to
  </dd>

  {% include ouxr-211bsd-flow-dt.html
     col="ouxr-cnet"  path="/usr/src/sys/sys/uipc_socket.c.html#s:_socreate" %}
  <dd>
    which is finally the handler doing the work.
  </dd>
</dl>
so the tour started in user land and went through kernel mode to a handler
executing in supervisor mode.
<p>
Each source is full cross referenced, with the whole system code base.
Clicking on a symbol definition (or the X in the sidebar) gets you to the
cross referencing info's. That gives comprehensive answers to questions like
</p>
<ul>
  <li><a href="{{url_211bsd}}/usr/src/lib/libc/pdp/gen/setjmp.s.html#xref:s:_setjmp">
      where is <code>setjmp()</code> called ?</a></li>
  <li><a href="{{url_211bsd}}//usr/src/sys/pdpstand/saio.h.html#xref:sd:iob">
      where is <code>struct iob</code> used ?</a></li>
  <li><a href="{{url_211bsd}}/usr/src/sys/pdp/machparam.h.html#xref:m:NBPG">
      where is macro <code>NBPG</code> used ?</a></li>
  <li><a href="{{url_211bsd}}/usr/include/nlist.h.html#xref:i:nlist.h">
      where is <code>nlist.h</code> included ?</a></li>
</ul>

<h2 id="h_uguide">Brief User Guide</h2>
<h3 id="h_languages">Supported languages and file formats</h3>
<p>
Essentially all the languages used in the UNIX system code base are supported,
some other file formats too:
</p>
<table class="trtoggle indent">
  <thead>
    <tr>
      <th>File Type</th>
      <th>Language</th>
      <th>Example</th>
    </tr>
  </thead><tbody>
    {% for r in page.my.langtable %}
      <tr>
        <td>{{r.ext}}</td>
        <td>{{r.lan}}</td>
        <td><a href="{{url_211bsd}}{{r.exa}}.html">
            {{r.exa}}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>
The language sources are syntax highlighted with the common color code:
</p>
<table class="trtoggle indent">
  <thead>
     <tr>
      <th>Token Type</th>
      <th>Example</th>
    </tr>
  </thead><tbody>
    {% for r in page.my.syncoltable %}
      <tr>
        <td>{{r.type}}</td>
        <td class="{{r.class}}">{{r.exam}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="h_navi">Navigation</h3>
<p>
A navigation bar lists all defined functions, global variables, macros
and structs. Clicking the name leads to the line of definition, clicking
the 'X' to the cross reference listing.
Each relevant object in a htlmized source file can be addressed via an URL:
</p>
<table class="trtoggle indent">
  <thead>
     <tr>
      <th>Object</th>
      <th>#....</th>
      <th>Example</th>
      <th>Comment</th>
    </tr>
  </thead><tbody>
    {% for r in page.my.objtable %}
      <tr>
        <td>{{r.type}}</td>
        <td><code>{{r.url | xml_escape}}</code></td>
        <td><a href="{{url_211bsd}}{{r.exam}}">{{r.exam}}</a></td>
        <td>{{r.comm}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>
The background color tells in which territory you are in:
</p>
<table class="trtoggle indent">
  <thead>
    <tr>
      <th>Territory</th>
      <th>2.11BSD Example</th>
    </tr>
  </thead><tbody>
    {% for r in page.my.coltable %}
      <tr>
        <td class="{{r.class}} ha-center">{{r.text}}</td>
        <td><a href="{{url_211bsd}}{{r.code}}.html">
            <code>{{r.code}}</code></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="h_xref">Cross Reference</h3>
<p>
The cross reference listing shows where global symbols, macro's and struct's
are defined and where they are used, in the current source as well as in the
whole system:
</p>
<table class="trtoggle indent">
  <thead>
     <tr>
      <th>Object</th>
      <th>#....</th>
      <th>Example</th>
      <th>Comment</th>
    </tr>
  </thead><tbody>
    {% for r in page.my.xreftable %}
      <tr>
        <td>{{r.type}}</td>
        <td><code>{{r.url | xml_escape}}</code></td>
        <td><a href="{{url_211bsd}}{{r.exam}}">{{r.exam}}</a></td>
        <td>{{r.comm}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
