---
title: "w11 project on Opencores"
tags:  ["w11"]
---
<p>
The PDP-11/70 core is now available at OpenCores, see
</p>
<div class="mind2em">
  {% include wbm-link.html 
  date="20100725000404"
  link="http://opencores.org/project,w11"
  text="http://opencores.org/project,w11" %}
</div>
<p>
The documentation is admittedly still rudimentary. The backend handler is
still in Perl. This and many other things on the TODO list for the future.
</p>

<div class="notebox">
  <b>2016-12-03:</b> the link shown above shows the status of the OpenCores
  page in July 2010, shortly after the repository was created.
</div>

<div class="notebox">
  For original note see
  {% include wbm-link.html 
  date="20141003123342"
  link="http://www.classiccmp.org/pipermail/cctech/2010-July/077074.html"
  text="posting to cctech@classiccmp.org" %}
</div>
