{% comment %}
  sets up a floating figure, use with the parameters
    id:       id of top level frame
    width:    width of picture
    height:   height of picture
    figurl:   url of picture
    figurlhr: url of picture (high resolution)
    figalt:   alt text
    caption:  caption text
{% endcomment %}

{% if include.width %}
  {% assign imgwidth='width="' | append: include.width | append: '"'%}
{% endif %}
{% if include.height %}
  {% assign imgheight='height="' | append: include.height | append: '"'%}
{% endif %}

{% assign figalt=include.figalt %}
{% unless figalt %} {% assign figalt=include.id %} {% endunless %}
{% unless figalt %} {% assign figalt=include.figurl %} {% endunless %}

{% assign figurlhr=include.figurlhr %}
{% unless figurlhr %} {% assign figurlhr=include.figurl %} {% endunless %}

<div id="{{include.id}}" class="figureframe">
  <div class="figurebox">
    <a href="{{figurlhr}}"> 
      <img style="max-width: 90%; height: auto" {{imgwidth}} {{imgheight}}
           alt="{{figalt}}" src="{{include.figurl}}">
    </a>
  </div>
  <div class="figurecaption">
    {{include.caption}}
  </div>
</div>
