{% comment %}
  Snipplet to add a standard footer. Parameters are
    up      url for 'up'   nav button
    down    url for 'down' nav button
    prev    url for 'prev' nav button
    next    url for 'next' nav button
{% endcomment %}

<div id="footer">
  <table>
    <tr>
      <td id="footer-about">
        <a class="abutton" href="/about/">about</a>
        <span id="footer-about-tools">
          <a href="/debug/"
             title="Site debug tools">
            <i class="fa fa-wrench abutton"></i></a>
          <a href="https://validator.w3.org/check/referer"
             title="Validate HTML">
            <i class="fa fa-html5 abutton"></i></a>
          {% assign checkuri = site.url | append: page.url | url_param_escape %}
          <a href="https://validator.w3.org/checklink?uri={{checkuri}}"
             title="Validate links">
            <i class="fa fa-link abutton"></i></a>
        </span>
      </td>
      <td id="footer-time">
        {% if page.date %}
          posted&nbsp;{{page.date | slice: 0,10}}
        {% endif %}
        {% if page.my.changedate %}
          {% if page.date %} &amp; {% endif %}
          updated&nbsp;{{page.my.changedate}}
        {% endif %}
      </td>
      <td id="footer-nav">
        {% include relnav.html up=include.up down=include.down
                               prev=include.prev next=include.next %}
      </td>
    </tr>
    <tr>
      <td colspan="3" id="footer-disclaimer">
        This is a private hobbyist website
        <i class="fa fa-arrow-right"></i>
        no impressum or privacy protection statement required 
        <i class="fa fa-arrow-right"></i> see
        <a href="https://help.github.com/articles/github-terms-of-service/">
          GitHub terms</a>
        <br />
        <i>
          Note to US readers: This content is provided by an EU citizen.
          Trumps US-EU relation assessment varies between foe (15.07.2018)
          and true love (25.07.2018).
          Unclear what prevails, read content at our own risk.
        </i>
      </td>
    </tr>
  </table>
</div>
