<script>
  $(document).ready(function() {
    "use strict";
    var $navbar = $('#navbar');
    var $main   = $('#main');
    var $footer = $('#footer');
    var $window = $(window);
    
    if ($navbar.innerHeight() < $main.innerHeight()) {
  
      var navbarHeight = $navbar.innerHeight();
      var navbarTop    = $navbar.offset().top;
      var navbarLeft   = $navbar.offset().left;
      var footerTop    = $footer.offset().top;
      var stop   = footerTop - navbarHeight - navbarLeft;
      var diff   = stop - navbarLeft;

      var stickyUpdate = function() {
        var windowTop = $(window).scrollTop();
        if (stop < windowTop) {
          $navbar.css({ position: 'absolute', top: diff, left: navbarLeft });
        } else if (navbarTop < windowTop+navbarLeft) {
          $navbar.css({ position: 'fixed', top: navbarLeft, left: navbarLeft });
        } else {
          $navbar.css({position: 'absolute', top: 'auto', left: 'auto'});
        }
      }

      stickyUpdate();
      $(window).scroll(function() { stickyUpdate() });
    }
  });
</script>
