---
title: "Releases"
#
my:
  changedate: 2016-12-22
#
  w11_tag:  https://github.com/wfjm/w11/releases/tag
  w11_comm: https://github.com/wfjm/w11/commit
  w11_blob: https://github.com/wfjm/w11/blob
#
  releases:
  - tag: w11a_V0.74
    dat: 2016-10-15
    typ: no
    com: 5983b0bb2a9cc6a2418f93dfe4f563288f79a009
    fil: doc/README.txt
    nam: README
    txt: upgraded CRAM controller; new test bench driver

  - tag: w11a_V0.73
    dat:  2016-06-26 
    typ: no
    com: 2b5cfb7d961b69c69598d31186066d327ae530da
    fil: doc/README.txt
    nam: README
    txt: Code cleanup for <b>vivado</b>, more <b>xsim</b> support;
         <b>Size-configurable cache</b>, better w11a performance

  - tag: w11a_V0.72
    dat: 2016-03-19
    typ: no
    com: e1479d4e5d50ab5311e1712c5f651c35897dc66f
    fil: doc/README.txt
    nam: README
    txt: port of w11a to Digilent
         <a href="/home/w11/inst/boards.html#digi_arty"><b>Arty</b></a>; 
         support for <b>XADC</b>; 
         initial vivado <b>xsim</b> support

  - tag: w11a_V0.71
    dat: 2015-12-30
    typ: no
    com: 677773d123639fb541a925e8e6037b59941aeead
    fil: doc/README.txt
    nam: README
    txt: Add CPU debug and monitoring units (dmhbpt,dmscnt,dmcmon)

  - tag: w11a_V0.70
    dat: 2015-06-21
    typ: ma
    com: f514906fc38d2da38f27483e209cb76308b4c051
    fil: doc/README.txt
    nam: README
    txt: from 0.6 -> 0.7; revised rbus protocol; Vivado support; 
         Nexys4 and Basys3 port; RP/RM and RL11 disk and TM11 tape support

  - tag: w11a_V0.66
    dat: 2015-06-05
    typ: no
    com: 24fde41c6a12d09c29e0927e3755ae047d060c00
    fil: doc/README.txt
    nam: README
    txt: Support <b>TM11/TU10</b> tapes

  - tag: w11a_V0.65
    dat: 2015-05-14
    typ: no
    com: 4a032e94368ad282ddb7b6df87453eb4de1a7c90
    fil: doc/README.txt
    nam: README
    txt: Support <b>RH70 + RP/RM</b> <i>big</i> disks

  - tag: w11a_V0.64
    dat: 2015-03-09
    typ: no
    com: e91847f8dbc18edf57c820394acb30b211e1f934
    fil: doc/README.txt
    nam: README
    txt: Support for <b>Vivado</b>; port of w11a to Digilent
         <a href="/home/w11/inst/boards.html#digi_basys3"><b>Basys3</b></a>
         and
         <a href="/home/w11/inst/boards.html#digi_nexys4"><b>Nexys4</b></a>;
         <b>RL01/RL02</b> disks

  - tag: w11a_V0.63
    dat: 2015-01-04
    typ: no
    com: dde49d52e437b3df873462c5d1284cbc8de95b88
    fil: doc/README.txt
    nam: README
    txt: w11a rbus interface and C++/Tcl backend now use rlink v4 features, 
         much reduced number of round trips

  - tag: w11a_V0.62
    dat: 2014-12-20
    typ: no
    com: d87ac86f53e069729c5b4a187cdbe1a11fe468fd
    fil: doc/README.txt
    nam: README
    txt: Introduced <b>rlink protocol v4</b> 
         (see <a href="https://github.com/wfjm/w11/blob/d87ac86f53e069729c5b4a187cdbe1a11fe468fd/doc/README_Rlink_V4.txt">README_Rlink_V4</a>)

  - tag: w11a_V0.61
    dat: 2014-08-10
    typ: ma
    com: 093d540121313d81c2acaf47093bb5d707b5b68f
    fil: doc/README.txt
    nam: README
    txt: Bugfix for DIV instruction

  - tag: w11a_V0.60
    dat: 2014-06-06
    typ: ma
    com: 46331caebbe80a862ba4bfa840cc8578457e12ac
    fil: doc/README.txt
    nam: README
    txt: from 0.5 -> 0.6; revised ibus and rbus protocol; backend server 
         rewritten; Nexys3 port; Cypress Fx2 support;  LP11,PC11 support

  - tag: w11a_V0.581
    dat: 2014-05-29
    typ: mi
    com: 4732555297a705b25b5c74fcd91b7baee0837600
    fil: doc/README.txt
    nam: README
    txt: Fixes for ISE 14.7; Spartan-6 CMT support; more man pages

  - tag: w11a_V0.58
    dat: 2013-05-12
    typ: no
    com: 200ba69364470176a81ffbacbba17d2de1ad2fcd
    fil: doc/README.txt
    nam: README
    txt: LP11,PC11 support added; old backend retired; operating system kits 
         re-organized

  - tag: w11a_V0.57
    dat: 2013-04-27
    typ: no
    com: b06cbef00a5b26138965ac9d4e4627d4f08ff90f
    fil: doc/README.txt
    nam: README
    txt: <b>w11a systems with rlink over USB</b> on nexsy2 and nexsy3 boards

  - tag: w11a_V0.562
    dat: 2013-04-13
    typ: mi
    com: 99de9893cbb8e1e02d6a86b2e9d0f8a141513b7b
    fil: doc/README.txt
    nam: README
    txt: Phase 2 of <b>new C++/Tcl backend</b>, add cpu and first device 
         support; add asm-11 assembler

  - tag: w11a_V0.561
    dat: 2013-01-06
    typ: mi
    com: 29d2dc5bef8b84d32d4d482fdec3e4ea740bab00
    fil: doc/README.txt
    nam: README
    txt: Add bugfixes, Cypress FX2 simulation model, and test designs for 
         Nexys3 and Atlys boards

  - tag: w11a_V0.56
    dat: 2013-01-02
    typ: no
    com: cbd8ce34687452ae027c43277aaae8e7460b5495
    fil: doc/README.txt
    nam: README
    txt: Add <a href="http://www.cypress.com/products/ez-usb-fx2lp">
           <b>Cypress FX2</b></a>
         USB interface controller; FX2 firmware supporting jtag access and data 
         transfer; test system for rlink over USB verification

  - tag: w11a_V0.55
    dat: 2011-12-23
    typ: no
    com: f6775f7d05e998a56427fe244f61d2cc64d46b29
    fil: doc/README.txt
    nam: README
    txt: Add xon/xoff (software flow control) support to serport
         library; Add test design for serport verification

  - tag: w11a_V0.54
    dat: 2011-12-04
    typ: no
    com: f2d0f3962188a1af58a748875bda94eacd8b2cdc
    fil: doc/README.txt
    nam: README
    txt: Add Digilent
         <a href="/home/w11/inst/boards.html#digi_nexys2"><b>Nexys3</b></a>
         port of w11a

  - tag: w11a_V0.532
    dat: 2011-11-20
    typ: mi
    com: d76323ec6c12bc93871201e67361411421af99eb
    fil: doc/README.txt
    nam: README
    txt: Add test design for 'human I/O' interface; migrate to use numeric_std

  - tag: w11a_V0.531
    dat: 2011-09-12
    typ: mi
    com: e15295649ed3449c37bb09c145d5d3370a0210aa
    fil: doc/README.txt
    nam: README
    txt: Prepare upcoming support for Spartan-6 (nexys3 and atlys)
         and Cypress FX2 USB (nexys2/3 and atlys)

  - tag: w11a_V0.53
    dat: 2011-04-17
    typ: no
    com: 0f28defb8a597e9dc38daf8ce71c18a298b91733
    fil: doc/README.txt
    nam: README
    txt: Introduced new backend written in C++ and Tcl. Phase 1 
         with functionality to execute simple test benches

  - tag: w11a_V0.52
    dat: 2011-01-02
    typ: no
    com: c3d40ba4b9d0fb419a8cc4c667ffbe6fafffb4eb
    fil: doc/README.txt
    nam: README
    txt: Introduced rbus protocol V3; reorganize rbus and rlink 
         modules, many renames

  - tag: w11a_V0.51
    dat: 2010-11-28
    typ: no
    com: 16ce5b2091447e581efa30e5ebafa49259ad07de
    fil: doc/README.txt
    nam: README
    txt: Introduced ibus protocol V2; Nexys2 systems use DCM;
         sys_w11a_n2 now runs with 58 MHz

  - tag: w11a_V0.50
    dat: 2010-07-23
    typ: ma
    com: 3266c23c57d25ce1cd2b4e1a8c6e4b754448a8ba
    fil: doc/README.txt
    nam: README
    txt: Initial release; w11a CPU core; 
         basic set of peripherals; kw11l, dl11, lp11, pc11, rk11/rk05;
         two complete systems for Digilent 
         <a href="/home/w11/inst/boards.html#digi_s3board"><b>S3BOARD</b></a> 
         and 
         <a href="/home/w11/inst/boards.html#digi_nexys2"><b>Nexys2</b></a>
---

<h2 id="h_Releases">Releases</h2>

<p>
Major releases are labeled with bold <b>tag</b> fields, while minor
releases are labeled with italic <i>tag</i> fields.
</p>
<table class="trtoggle">
  <thead>
    <tr>
      <th class="va-top ha-center"><b>Release</b></th>
      <th class="va-top ha-center"><b>Date</b></th>
      <th class="va-top ha-center"><b>commit</b></th>
      <th class="va-top ha-center"><b>README</b></th>
      <th class="va-top ha-left"><b>Comment</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="va-top ha-center nowrap"><i>master</i></td>
      <td class="va-top nowrap">{{site.time | slice: 0,10}}</td>
      <td class="va-top ha-center nowarp">-</td>
      <td class="va-top ha-center">
        <a href="{{page.my.w11_blob}}/master/doc/CHANGELOG.md">CHANGELOG</a>
      </td>
      <td class="va-top"><i>state of master, the bleeding edge</i></td>
    </tr>

    {% for rel in page.my.releases %}
      {% assign rel_coms = rel.com | truncate: 7,"" %}
      {% if rel.typ == "ma" %}
        {% assign rel_tembeg = "<b>" %}
        {% assign rel_temend = "</b>" %}
      {% elsif rel.typ == "mi" %}
        {% assign rel_tembeg = "<i>" %}
        {% assign rel_temend = "</i>" %}
      {% else %}
        {% assign rel_tembeg = "" %}
        {% assign rel_temend = "" %}
      {% endif %}
    <tr>
      <td class="va-top nowrap"><a href="{{page.my.w11_tag}}/{{rel.tag}}">
          {{rel_tembeg}}{{rel.tag}}{{rel_temend}}</a>
      </td>
      <td class="va-top nowrap">
        {{rel.dat}}
      </td>
      <td class="va-top ha-center nowrap">
        <a href="{{page.my.w11_comm}}/{{rel.com}}">{{rel_coms}}</a>
      </td>
      <td class="va-top ha-center">
        <a href="{{page.my.w11_blob}}/{{rel.com}}/{{rel.fil}}">{{rel.nam}}</a>
      </td>
      <td class="va-top">
        {{rel.txt}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
