---
layout: default
title:  Roadmap
lastchange: 2016-10-29
---
<div class="figureframe">
  <div class="figurebox">
    <!-- Fig. R-1 -->
    <a href="/downloads/w11/pictures/wfjm-2010-08-08-w11a_s3.jpg">
      <img id="Fig_R-1" width="240" height="201" 
           alt="click for higher resolution" 
           src="/downloads/w11/pictures/wfjm-2010-08-08-w11a_s3.jpg">
    </a>
  </div>
  <div class="figurecaption">
    Fig R-1: w11a running on a Digilent 
    <a href="/home/w11/inst/boards.html#digi_s3board">
      S3BOARD</a> board with XC3S1000. The rlink connection is via the RS232 
    port and a 
    {% include wbm-link.html 
      date="20100328094939"
      link="http://www.ftdichip.com/Products/EvaluationKits/USB-Serial.htm"
      text="FTDI US232R-100" %}
    cable. The DBB1 kludge card contains a test setup for a 
    {% include wbm-link.html 
      date="20100311051308"
      link="http://www.ftdichip.com/Products/EvaluationKits/UM232R.htm"
      text="FTDI UM232R" %}
     module.
  </div>

  <hr>
  <div class="figurebox">
    <!-- Fig. R-2 -->
    <a href="/downloads/w11/pictures/DaveCarrol-1174-cd-open.jpg">
      <img id="Fig_R-2" width="240" height="180" 
           alt="click for higher resolution" 
           src="/downloads/w11/pictures/DaveCarrol-1174-cd-open.jpg">
    </a>
  </div>
  <div class="figurecaption">
    Fig R-2: Two of four processors of the 11/74 prototype PHEANX, which was
    used up to the 90's for RSX builds. Earlier the machine was used under
    the name CASTOR by DEC RSX Engineering in Maynard.
    Picture courtesy of Dave Carroll.
  </div>

</div>

<h2 id="d_short">Short term (in work)</h2>
<ul>
  <li>proper integration of <b>CPU monitoring unit</b> (dmcmon) and
      <b>hardware break point unit</b> (dmhbpt) with w11 core and back end
      software.
  <li>lots of verification topics</li>
</ul>

<h2 id="d_mid">Mid term</h2>
<ul>
  <li><b>DEUNA</b> Ethernet; 2.11BSD on w11a on the internet.</li>
  <li><b>DZ11</b> terminal multiplexer; classical multiuser operation.</li>
  <li><b>fifo buffered</b> implementation of <b>character devices</b> 
      (DL11,PC11,LP11).</li>
  <li><b>KW11P:</b> programmable clock (needed for 2.11BSD kernel 
      profiling).</li>
  <li><b>CPU throttling</b> mechanism (some old code, especially tests
         with timing loops, has problems on a <i>fast</i> machine...).</li>
  <li>port to <a href="http://www.ztex.de/usb-fpga-2/usb-fpga-2.13.e.html">
      ZTEX <b>USB-FPGA Module 2.13</b></a>. The ZTEX 2.13 combines Atrix-7 
      and Cypress FX2, and has a fast JTAG over USB, and is therefore a good 
      candidate for 'yet another port'.</li>
</ul>

<h2 id="d_long">Long term</h2>
<ul>
  <li>the current <b>w11a</b> system will be frozen when the above
    mentions I/O system components are implemented.</li>
  <li><b>w11f</b>: a w11a plus a <b>FPP Floating Point Processor</b>.
    The FPP will be <b>asynchronous</b>, with a more efficient coupling
    than in the original KB11-C CPU plus FP11-C FPP combination.</li>
  <li><b>w11m</b>: a w11f with a <b>new cache system</b>, now <b>write-back</b>,
    wider cache lines, suitable to build a 
    <b>11/70MP multiprocessor system</b>. In contrast to the original 11/70MP 
    a state-of-the-art <b>cache coherence</b> will be implemented.</li>
  <li><b>w11e</b>:a stripped down w11a optimized as an <b>embedded</b> console 
    and IO processor in larger systems.</li>
  <li><b>w11n</b>: a w11m with a w11e as CIOP (console and IO processor)
    which can be operated <b>stand-alone</b> without a backend server.</li>
  <li><b>w11p</b>: new CPU with a much <b>improved micro architecture</b>. 
    With <b>micro- and macro-pipelining</b> and a <b>significantly improved 
    <a href="https://en.wikipedia.org/wiki/Cycles_per_instruction">CPI</a></b>, 
    better than the J11.
    Much faster than the w11a and derivatives, but also significantly higher 
    resource consumption. Will implement, finally, the 11/44 and J11 special 
    instructions (MFPT, MTPS, MFPS, TSTSET, WRTLCK), and make the
    <b>processor type selectable</b>.</li>
</ul>

<h2 id="d_plan">Release plan for w11a</h2>

<table>
  <tr>
    <th class="va-top ha-center"><b>Release</b></th>
    <th class="va-top ha-center"><b>&nbsp;Target Date&nbsp;</b></th>
    <th class="va-top ha-left"><b>Main release goals</b></th>
  </tr>
  <!-- disclaimer -->
  <!-- v0.8 -->
  <tr class="treven">
    <td class="va-top ha-center">V0.80</td>
    <td class="va-top ha-center">t.b.d.</td>
    <td class="va-top">verification: fix known CPU and IO issues</td>
  </tr>
  <!-- v0.9 -->
  <tr class="trodd">
    <td class="va-top ha-center">V0.90</td>
    <td class="va-top ha-center">t.b.d.</td>
    <td class="va-top">communication: DZ11; DEUNA;</td>
  </tr>
  <!-- v1.0 -->
  <tr class="treven">
    <td class="va-top ha-center">V1.00</td>
    <td class="va-top ha-center">t.b.d.</td>
    <td class="va-top">cleanups: e.g. buffered DL11,PC11,LP11; </td>
  </tr>
</table>

<p>
Long term goal is to re-create a PDP-11/70MP (aka 11/74) system. 
This up to 4 CPU 
<a href="https://en.wikipedia.org/wiki/Symmetric_multiprocessing">
symmetric multiprocessor system</a> was developed in the 
late '70's by DEC, but was never marketed. See article 
{% include wbm-link.html 
   date="20160529061435"
   link="http://www.village.org/pdp11/faq.pages/never11s.html"
   text="The Never 11's" %}.
A few prototypes were build, see
<a href="#Fig_R-2">Figure R-2</a> for a picture of
PHEANX/CASTOR. Some documentation has survived, like the preliminary DEC 
<a href="http://www.bitsavers.org/pdf/dec/pdp11/1174/EK-70MP-TM_PRE_1170mp_Prelim_Technical_Manual_1977.pdf">
11/70MP system manual</a>, see also a
<a href="http://www.miim.com/faq/hardware/multipro.html">historical summary</a>.
Full SMP support was added around 1980 to the RSX-11M-PLUS V2.0 
operating system, 
see for example the set and remove affinity system calls in the
<a href="http://www.bitsavers.org/pdf/dec/pdp11/rsx11/RSX11M_V4.1_Apr83/4_ProgramDevelopment/AA-L675A-TC_execRef_Nov81.pdf">
Executive Manual</a> (STAF$ on p 5-193 and RMAF$ on p 5-128).
Worth to note in this context is that already in 1972 a 16 node SMP
system based on PDP-11 CPU's was build by
<a href="https://en.wikipedia.org/wiki/William_Wulf">W. Wulf</a> and 
<a href="https://en.wikipedia.org/wiki/Gordon_Bell">G. Bell</a>
at Carnegie Mellon, the <a href="https://en.wikipedia.org/wiki/C.mmp">C.mmp</a>,
see their paper 
<a href="http://research.microsoft.com/en-us/um/people/gbell/CGB%20Files/Cmmp%20Multi-Mini-Processor%20ComConference%201972%20c.pdf">
"C.mmp--A Multi-mini-processor"</a>
for the <a href="http://doi.acm.org/10.1145/1480083.1480098">Fall JCC 1972</a>.
</p>
