---
title:  "Roadmap"
#
my:
  changedate: 2021-08-16
---
{% capture caption_Fig_R_1 %}
    Fig R-1: w11a running on a Digilent 
    <a href="/home/w11/inst/boards.html#digi_s3board">
      S3BOARD</a> board with XC3S1000. The rlink connection is via the RS232 
    port and a 
    {% include wbm-link.html 
      date="20100328094939"
      link="http://www.ftdichip.com/Products/EvaluationKits/USB-Serial.htm"
      text="FTDI US232R-100" %}
    cable. The DBB1 kludge card contains a test setup for a 
    {% include wbm-link.html 
      date="20100311051308"
      link="http://www.ftdichip.com/Products/EvaluationKits/UM232R.htm"
      text="FTDI UM232R" %}
     module. {{site.my.wfjm-ccby}}
{% endcapture %}

{% include figbox-right.html id="Fig_R-1" width="1677" height="1398"
     figurl="/downloads/w11/pictures/wfjm-2010-08-08-w11a_s3.jpg"
     caption=caption_Fig_R_1
%}

{% capture caption_Fig_R_2 %}
    Fig R-2: Two of four processors of the 11/74 prototype PHEANX, 
    which was used up to the 90's for RSX builds. Earlier the
    machine was used under the name CASTOR by DEC RSX Engineering 
    in Maynard. Picture courtesy of Dave Carroll.
{% endcapture %}
{% include figbox-right.html id="Fig_R-2" width="800" height="600"
     figurl="/downloads/w11/pictures/DaveCarrol-1174-cd-open.jpg"
     caption=caption_Fig_R_2
%}

<h2 id="h_stra">Strategy</h2>
Long term goal is to re-create a PDP-11/70MP (aka 11/74) system. 
This up to 4 CPU 
<a href="https://en.wikipedia.org/wiki/Symmetric_multiprocessing">
symmetric multiprocessor system</a> was developed in the 
late '70's by DEC, but was never marketed. See article 
{% include wbm-link.html 
   date="20160529061435"
   link="http://www.village.org/pdp11/faq.pages/never11s.html"
   text="The Never 11's" %}.
A few prototypes were build, see
<a href="#Fig_R-2">Figure R-2</a> for a picture of
PHEANX/CASTOR. Some documentation has survived, like the preliminary DEC 
<a href="http://www.bitsavers.org/pdf/dec/pdp11/1174/EK-70MP-TM_PRE_1170mp_Prelim_Technical_Manual_1977.pdf">
11/70MP system manual</a>, see also a
<a href="http://www.miim.com/faq/hardware/multipro.html">historical summary</a>.
Full SMP support was added around 1980 to the RSX-11M-PLUS V2.0 
operating system, 
see for example the set and remove affinity system calls in the
<a href="http://www.bitsavers.org/pdf/dec/pdp11/rsx11/RSX11M_V4.1_Apr83/4_ProgramDevelopment/AA-L675A-TC_execRef_Nov81.pdf">
Executive Manual</a> (STAF$ on p 5-193 and RMAF$ on p 5-128).
Worth to note in this context is that already in 1972 a 16 node SMP
system based on PDP-11 CPU's was build by
<a href="https://en.wikipedia.org/wiki/William_Wulf">W. Wulf</a> and 
<a href="https://en.wikipedia.org/wiki/Gordon_Bell">G. Bell</a>
at Carnegie Mellon, the <a href="https://en.wikipedia.org/wiki/C.mmp">C.mmp</a>,
see their paper 
<a href="http://research.microsoft.com/en-us/um/people/gbell/CGB%20Files/Cmmp%20Multi-Mini-Processor%20ComConference%201972%20c.pdf">
"C.mmp--A Multi-mini-processor"</a>
for the <a href="http://doi.acm.org/10.1145/1480083.1480098">Fall JCC 1972</a>.

    
<h2 id="h_perm">Permanent Tasks</h2>
<ul>
  <li>improve documentation, especially Tcl API</li>
  <li>improve verification, e.g. test benches</li>
  <li>resolve known issues</li>
</ul>

<h2 id="h_short">Short term (in work)</h2>
<ul>
  <li>catch-up after a 2 years hiatus</li>
  <li>reference system now: Ub20.04; C++17; Vivado 2020.1</li>
  <li>for CI/CD use GitHub Actions instead of Travis</li>
  <li>lots of consolidation</li>
  <li><b>PiDP-11</b>: support for Oscar Vermeulen's marvelous
    <a href="https://obsolescence.wixsite.com/obsolescence/pidp-11">
      PiDP-11 front panel</a>.</li>
</ul>

<h2 id="h_mid">Mid term</h2>
<ul>
  <li><b>DEUNA</b>: add loopback, chaining ect; support OS beyond 211bsd</li>
  <li><b>DZ11</b>: add full modem support</li>
</ul>

<h2 id="h_long">Long term</h2>
<ul>
  <li><b>FPP Floating Point Processor</b>:
    The FPP will be <b>asynchronous</b>, with a more efficient coupling
    than in the original KB11-C CPU plus FP11-C FPP combination.</li>
  <li><b>new cache system</b>: now <b>write-back</b>, wider cache lines,
    suitable to build a  <b>11/70MP multiprocessor system</b>. 
    In contrast to the original 11/70MP a state-of-the-art 
    <b>cache coherence</b> will be implemented.</li>
  <li><b>configurable CPU</b>: make CPU features build-time configurable,
    for example to generate stripped down w11a versions optimized as an 
    <b>embedded</b> console and IO processor in larger systems.</li>
  <li><b>stand-alone system</b>: a system with an additional w11a CPU
    acting as CIOP (console and IO processor) which can be operated 
    without a backend server.</li>
  <li><b>CPU throttling</b>: some old code, especially tests with timing loops,
    has problems on a <i>fast</i> machine....</li>
</ul>

<h2 id="h_maybe">Maybe term</h2>
Nice ideas, maybe they are realized, maybe not
<ul>
  <li><b>TOY clock</b>: the time-of-year clock was never part of a 11/70
    system, but it is very convenient to have.</li>    
  <li><b>DMC11</b>: the old way to interconnect nodes via point-to-point
    connections. Can be used with 211bsd to transport ethernet frames.</li>
  <li><b>CR11</b>: Card reader; pure nostalgia. </li>
  <li><b>DU11</b>: Synchronous line interface. Use with
    <a href="https://en.wikipedia.org/wiki/IBM_2780/3780">IBM 3780</a>
    <a href="https://en.wikipedia.org/wiki/Remote_job_entry">RJE</a>
    terminal emulation to link to a IBM
    <a href="https://en.wikipedia.org/wiki/IBM_System/370">System/370</a>
    <a href="https://en.wikipedia.org/wiki/IBM_mainframe">mainframe</a>
    emulated by <a href="http://www.hercules-390.org/">Hercules</a>;
    the purest nostalgia</li>
  <li><b>UDA50</b>: MSCP disk controller, for disks like RA81. </li>
</ul>


<h2 id="h_boards">Boards</h2>
Ports to new boards will be done when interesting products show up. Tempting
boards are:
<ul>
  <li><a href="https://shop.trenz-electronic.de/en/TE0890-01-25-1C-S7-Mini-Fully-Open-Source-Module-with-Xilinx-Spartan-7-7S25-64-MBit-HyperRAM">
      Trenz TE0890-01-25-1C: "S7 Mini"</a>:
    lowest cost, w11a with full 4 MB (from 8 MB onboard HyperRAM)
  </li>
  <li><a href="https://shop.trenz-electronic.de/de/TE0725-03-35-2C-Xilinx-Artix-7-2x50-Pin-FPGA-Modul-mit-XC7A35T-2CSG324C">
      Trenz TE0725-03-35</a>:
    low cost, w11a with full 4 MB (from 8 MB onboard HyperRAM)
  </li>
</ul>
Both can be easily combined with a
<a href="https://shop.trenz-electronic.de/en/Products/Trenz-Electronic/Open-Hardware/Xmod-FTDI-JTAG-Adapter/">TE0790 Xmox FTDI JTAG Adapter</a>
which provides JTAG via USB and a fast USB UART as found on contemporary
Digilent boards.

<h2 id="h_plan">Release plan for w11a</h2>
  
<table class="trtoggle">
  <thead>
    <tr>
      <th class="va-top ha-center"><b>Release</b></th>
      <th class="va-top ha-center"><b>&nbsp;Target Date&nbsp;</b></th>
      <th class="va-top ha-left"><b>Main release goals</b></th>
    </tr>
  </thead>
  <tbody>
    <!-- disclaimer -->
    <!-- v0.8 -->
    <tr>
      <td class="va-top ha-center">V0.80</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">I/O complete (DEUNA, DZ11, buffered DL11,PC11,LP11)
      </td>
    </tr>
    <!-- v0.9 -->
    <tr>
      <td class="va-top ha-center">V0.90</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">resolve cpu issues; add FPP, CPU complete</td>
    </tr>
    <!-- v1.0 -->
    <tr>
      <td class="va-top ha-center">V1.00</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">resolve device and backend issues</td>
    </tr>
    <!-- v1.1 -->
    <tr>
      <td class="va-top ha-center">V1.10</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">move ISE designs into legancy branch; vhdl-2008 code base</td>
    </tr>
    <!-- v1.2 -->
    <tr>
      <td class="va-top ha-center">V1.20</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">write-back cache</td>
    </tr>
    <!-- v1.3 -->
    <tr>
      <td class="va-top ha-center">V1.30</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">multi-CPU systems</td>
    </tr>
    <!-- v1.4 -->
    <tr>
      <td class="va-top ha-center">V1.40</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">systems with Maintenance and IO Processor (MIOP; local IO handling)</td>
    </tr>
    <!-- v1.5 -->
    <tr>
      <td class="va-top ha-center">V1.50</td>
      <td class="va-top ha-center">t.b.d.</td>
      <td class="va-top">stand-alone systems</td>
    </tr>
    </tbody>
</table>

