---
title:  "Resources"
#
my:
  changedate: 2016-10-29
---

<h2 id="h_manuals">Original Documentation</h2>

<p>
For all without a good private library of original manuals the 
<a href="http://www.bitsavers.org/"><b>bitsavers.org</b></a> document archive of
<a href="http://www.bitsavers.org/pdf/dec/">historical DEC manuals</a>
comes to the rescue. Another good source of original manuals was the former
{% include wbm-link.html 
   date="20090914043922"
   link="http://www.computer.museum.uq.edu.au/documents.html"
   text="UQ Museum of IT" %}
, they are marked with a <i>(UQ)</i>.
</p>
<p>
But be aware that all manuals are
under the <a href="https://en.wikipedia.org/wiki/Copyright">copyright</a> of 
<a href="https://en.wikipedia.org/wiki/Digital_Equipment_Corporation">DEC</a>, 
now held by 
<a href="https://en.wikipedia.org/wiki/Hewlett-Packard">HP</a>.
The key documents are:
</p>
<ul>

  <li>General Handbooks
    <ul>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/handbooks/PDP11_Handbook1979.pdf">
        PDP-11 <b>Processor Handbook</b> 1979</a> 
          (11/70 in Chapter 10; p 277 ff)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/handbooks/PDP11_PeripheralsHbk_1976.pdf">
        PDP-11 <b>Peripherals Handbook</b> 1976</a> 
          (DL11 4-128; KW11-L 4-332; LP11 4-353; PC11 4-376; RK11 4-433)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/handbooks/PDP11_BusHandbook1979.pdf">
        PDP-11 <b>Bus Handbook</b> 1979</a> (UNIBUS and Q-Bus)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/unibus/UnibusSpec1979.pdf">
        PDP-11 <b>UNIBUS Design</b> Description</a> (1979)</li>
    </ul>
  </li>
  <li>PDP-11/70 Processor (KB11-C and FP11-C)
    <ul>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1170/EK-KB11C-TM-001_1170procMan.pdf">
         <b>KB11-C</b> Processor Manual</a> (1975)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1170/MP0KB11-C0_1170engDrw_Nov75.pdf">
         <b>KB11-C</b> Engineering Drawings</a> (1976; full set of schematics and flow charts)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1170/EK-FP11C-MM-01_FP11C_May76.pdf">
         <b>FP11-C</b> Floating Point Processor Maintenance Manual</a> 
         (1976)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1170/EK-11070-MM-002_May79.pdf">
         <b>PDP-11/70</b> Maintenance and Installation Manual</a> (1979)</li>
      <li>
        {% include wbm-link.html 
        date="20090915155919"
        link="http://www.computer.museum.uq.edu.au/pdf/EK-KB11B-TM-001%20KB11-B%20Processor%20Manual%20(PDP-1170).pdf"
        text="<b>KB11-B</b> Processor Manual (1975; for 1st CPU revision)" %}
         <i>(UQ)</i></li>
    </ul>
  </li>
  <li>PDP-11/45 Processor (KB11-A, KT11-C, and FP11-B)
      <br>
      The 11/45 is essentially a 11/70 without cache, massbus
      and 22 bit addressing, but otherwise very similar.
    <ul>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1145/KB11-A_Maint.pdf">
         <b>KB11-A</b> Processor Maintenance Manual (1972)</a></li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1145/EK-KB11A-MM-004_Aug76.pdf">
         <b>KB11-A</b> Processor Maintenance Manual (1976)</a></li>
      <li>
        {% include wbm-link.html 
        date="20091015221033"
        link="http://www.computer.museum.uq.edu.au/pdf/DEC-11-HGKTCB-D%20PDP-1145%20Memory%20Management%20Reference%20Manual.pdf"
        text="<b>KT11-C</b> Memory Management Unit Reference Manual" %}
        (1973) <i>(UQ)</i></li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1145/KT11C_MaintMan.pdf">
         <b>KT11-C</b> Memory Management Unit Maintenance Manual</a> (1974)</li>
      <li>
        {% include wbm-link.html 
        date="20090915082041"
        link="http://www.computer.museum.uq.edu.au/pdf/DEC-11-HFPAA-C-D%20FP11%20Floating-point%20Processor%20Maintenance%20Manual.pdf"
        text="<b>FP11-B</b> Floating Point Unit Maintenance Manual" %}
        (1974) <i>(UQ)</i></li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1145/EK-11045-MM-007.pdf">
         <b>PDP-11/45</b>, 11/50, and 11/55 System Maintenance Manual</a> 
         (1976)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1145/1145_System_Engineering_Drawings_Jun74.pdf">
         <b>PDP-11/45</b> System Engineering Drawings</a> (1974)</li>
    </ul>
    </li>
  <li>J11 Processor
      <br>
      The J11 is an ASIC implementation of a 
      11/70 with a small number of added and a some removed features.
    <ul>
      <li><a href="http://www.bitsavers.org/pdf/dec/pdp11/1173/EK-DCJ11-UG-PRE_J11ug_Oct83.pdf">
         DC<b>J11</b> Microprocessor Users Guide (1983)</a> </li>
    </ul>
  </li>
  <li>Peripherals
    <ul>
      <li><a href="http://www.bitsavers.org/pdf/dec/unibus/EK-DL11-OP-001_Sep76.pdf">
         <b>DL11</b> Asynchronous Line Interface User's Manual</a> (1976)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/unibus/PC11_Reader-Punch_Manual.pdf">
         <b>PC11</b> High-Speed Reader/Punch and Control Manual</a> (1974)</li>
      <li><a href="http://www.bitsavers.org/pdf/dec/unibus/RK11-C_manual1971.pdf">
         <b>RK11-C</b> Disk Drive Controller Manual</a> (1971)</li>
    </ul>
  </li>
</ul>
